# Terraform state files
*.tfstate
*.tfstate.backup

# Terraform configuration lock file
.terraform.lock.hcl

# Terraform modules and providers
.terraform/

# Local environment files
*.tfvars

# Crash log files
crash.log

